<script src="{{ absURL "lib/jquery/jquery.min.js" }}"></script>
<script src="{{ absURL "lib/bootstrap/js/bootstrap.min.js" }}"></script>

{{/* front.js: contains scripts for the nav bar and the carousel */}}
{{ $jsFront := resources.Get "js/front.js" | minify }}
<script src="{{ $jsFront.Permalink }}"></script>

{{/* owl carousel: only used on the homepage */}}
{{ if (eq .Type "homepage") }}
{{ $jsCarousel := resources.Get "js/carousel/owl.min.js" }} <!-- already minified -->
<script src="{{ $jsCarousel.Permalink }}"></script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
